@import url("https://fonts.googleapis.com/css?family=Muli:300,400,500,600,700,800,900&display=swap");
body {
  margin: 0px;
  font-family: "Muli", sans-serif;
  font-size: 16px;
}

@media screen and (max-width: 500px) {
  body {
    margin-right: 0px;
    margin-left: 0px;
    padding-left: 0px;
    margin-right: 0px;
  }
}

.shadow {
  -webkit-box-shadow: 0 0px 30px 0 rgba(124, 124, 124, 0.082), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 0px 30px 0 rgba(124, 124, 124, 0.082), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.shadow_1 {
  -webkit-box-shadow: 0 0px 30px 0 rgba(124, 124, 124, 0.082), 0 10px 100px 0 rgba(0, 0, 0, 0.295);
          box-shadow: 0 0px 30px 0 rgba(124, 124, 124, 0.082), 0 10px 100px 0 rgba(0, 0, 0, 0.295);
}

.shadow1 {
  -webkit-box-shadow: 0 0px 30px 0 rgba(124, 124, 124, 0.082), 0 10px 70px 0 rgba(0, 0, 0, 0.651);
          box-shadow: 0 0px 30px 0 rgba(124, 124, 124, 0.082), 0 10px 70px 0 rgba(0, 0, 0, 0.651);
}

.button {
  background-color: #3b86f1;
  border-radius: 100px;
  padding: 12px 16px 12px 16px;
  border-width: 0px;
  text-align: center;
  font-weight: 700;
  color: #fff;
  letter-spacing: 0.02em;
}

.button:hover {
  background-color: #34a853;
}

.header {
  padding: 30px;
  max-width: 1100px;
  position: relative;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}

@media screen and (max-width: 500px) {
  .header {
    padding: 20px;
  }
}

.header .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .navbar .icon_options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

@media screen and (max-width: 700px) {
  .header .navbar .icon_options {
    width: 100vw;
  }
}

.header .navbar .icon_options .manu_for_phone {
  display: none;
  position: absolute;
  right: 20px;
  top: 25px;
  width: 45px;
  height: 40px;
  padding-top: 6px;
  border-radius: 3px;
  border-width: 1px;
  background-color: transparent;
  border-color: rgba(73, 73, 73, 0.24);
}

.header .navbar .icon_options .manu_for_phone img {
  width: 25px;
  height: 25px;
}

.header .navbar .icon_options .logo {
  font-size: 12px;
}

.header .navbar .icon_options .logo img {
  height: 40px;
  width: 140px;
}

@media screen and (max-width: 700px) {
  .header .navbar .icon_options .manu_for_phone {
    display: block;
  }
  .header .navbar .icon_options .option {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.header .navbar .more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  visibility: visible;
  height: auto;
}

@media screen and (max-width: 700px) {
  .header .navbar .more {
    visibility: hidden;
    height: 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.header .navbar .more .option {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  margin-left: 10vw;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 700px) {
  .header .navbar .more .option {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
    margin: 0px;
  }
}

.header .navbar .more .option a {
  margin: 10px;
  text-decoration: none;
  font-weight: 800;
  color: #212529;
}

.header .navbar .more .option a:hover {
  color: #3b86f1;
}

@media screen and (max-width: 500px) {
  .header .navbar .more .option a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (max-width: 700px) {
  .header .navbar .more {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

/*********** slide ************/
.slider {
  background: white;
  background: -webkit-gradient(linear, left top, left bottom, from(white), color-stop(25%, rgba(243, 247, 254, 0.913901)), color-stop(50%, rgba(231, 238, 252, 0.972724)), color-stop(75%, rgba(243, 246, 253, 0.894293)), to(white));
  background: linear-gradient(180deg, white 0%, rgba(243, 247, 254, 0.913901) 25%, rgba(231, 238, 252, 0.972724) 50%, rgba(243, 246, 253, 0.894293) 75%, white 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: -10px;
  height: 450px;
}

@media screen and (max-width: 500px) {
  .slider {
    max-height: 350px;
  }
}

.slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1100px;
  width: 100%;
}

@media screen and (max-width: 700px) {
  .slide {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
}

.slide .sort_dec {
  max-width: 450px;
  z-index: 200;
}

.slide .sort_dec h2 {
  font-weight: 800;
  height: 50px;
  font-size: 30px;
}

@media screen and (max-width: 500px) {
  .slide .sort_dec h2 {
    font-size: 23px;
    height: 30px;
  }
}

.slide .sort_dec p {
  margin-bottom: 30px;
}

@media screen and (max-width: 500px) {
  .slide .sort_dec p {
    font-size: 13px;
    padding-left: 50px;
    padding-right: 50px;
    font-weight: 600;
  }
}

.slide .imgs {
  z-index: 190;
  position: absolute;
  right: 50px;
}

@media screen and (max-width: 700px) {
  .slide .imgs {
    visibility: hidden;
  }
}

.slide .imgs img {
  width: 55vw;
  max-width: 1100px;
  height: auto;
  margin-bottom: 25px;
}

/**************** promo **************/
.hexagon {
  width: 100px;
  height: 55px;
  background: white;
  position: relative;
  border-radius: 4px;
}

.hexagon:before {
  content: "";
  position: absolute;
  top: -25px;
  left: 0;
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 25px solid white;
  border-radius: 30px;
}

.hexagon:after {
  content: "";
  position: absolute;
  bottom: -25px;
  left: 0;
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-top: 25px solid white;
}

.promo {
  margin-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  max-width: 1100px;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  position: relative;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}

.promo .option {
  margin-bottom: 40px;
}

.promo .option div {
  position: relative;
  -webkit-transform: translate(-80%);
          transform: translate(-80%);
  left: 50%;
}

.promo .option div img {
  position: absolute;
  z-index: 3000;
  left: 25px;
  top: 3px;
  width: 50px;
  height: 50px;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.promo .option div img:hover {
  -webkit-transform: scale(1.18);
  transform: scale(1.18);
}

.promo .option div:hover {
  -webkit-box-shadow: 0 0px 30px 0 rgba(124, 124, 124, 0.082), 0 10px 90px 0 rgba(0, 0, 0, 0.486);
          box-shadow: 0 0px 30px 0 rgba(124, 124, 124, 0.082), 0 10px 90px 0 rgba(0, 0, 0, 0.486);
}

.promo .option p {
  margin-top: 40px;
  font-size: 18px;
  max-width: 210px;
  text-align: center;
  font-weight: 600;
  letter-spacing: 0.03em;
}

@media screen and (max-width: 500px) {
  .promo .option p {
    font-size: 17px;
    margin-bottom: 40px;
  }
}

/************** feture ****************/
.feture {
  max-width: 1100px;
  margin-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}

@media screen and (max-width: 500px) {
  .feture {
    padding: 0px 10px 0px 10px;
  }
}

.feture .heading {
  font-weight: 900;
  font-size: 22px;
  letter-spacing: 0.02em;
  max-width: 700px;
  text-align: center;
  margin-bottom: 40px;
}

@media screen and (max-width: 500px) {
  .feture .heading {
    font-size: 20px;
    padding: 0px 20px 0px 20px;
  }
}

.feture .options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.feture .options .option {
  padding: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.281);
  margin: 12px;
  border-radius: 15px;
  max-width: 30%;
  min-width: 220px;
  width: 100%;
  height: 270px;
  -webkit-box-shadow: 0 0px 2px 0 rgba(255, 255, 255, 0.082), 0 3px 10px 0 rgba(81, 134, 240, 0.331268);
          box-shadow: 0 0px 2px 0 rgba(255, 255, 255, 0.082), 0 3px 10px 0 rgba(81, 134, 240, 0.331268);
}

@media screen and (max-width: 500px) {
  .feture .options .option {
    max-width: 100%;
  }
}

.feture .options .option img {
  width: 100px;
}

.feture .options .option .card_heading {
  font-size: 18px;
  font-weight: 900;
  margin: 10px 0px 20px 0px;
}

.feture .options .option .description {
  padding: 0px 20px 0px 20px;
  font-size: 12px;
  font-weight: 400;
  text-align: center;
  letter-spacing: 0.03em;
}

/********** sort *****************/
.sort_des {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 50px;
  text-align: center;
  padding: 10px;
}

.sort_des h2 {
  font-size: 23px;
  font-weight: 900;
}

.sort_des p {
  font-size: 13px;
  max-width: 600px;
  text-align: center;
}

/************* Carousel **************/
.carousel {
  width: 100%;
  position: relative;
}

.carousel .card {
  height: 100%;
  border-radius: 10px;
  background-color: #fff;
}

.carousel #pre {
  position: absolute;
  top: 40%;
}

.carousel #nex {
  position: absolute;
  top: 40%;
  right: 5px;
}

.carousel #main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  overflow-x: auto;
}

.carousel #main .slide .card {
  margin: 20px;
  height: 300px;
  width: 400px;
}

/********* contacts *************/
.contact {
  margin-top: 50px;
  height: 300px;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 50px;
  background: white;
  background: radial-gradient(circle, white 0%, rgba(81, 134, 240, 0.151996) 0%, white 59%);
}

.contact h2 {
  font-size: 23px;
  font-weight: 900;
}

.contact p {
  font-size: 13px;
  max-width: 730px;
  text-align: center;
}

.contact button {
  margin-top: 20px;
}

/********** update **************/
.update {
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.update h2 {
  text-align: center;
}

.update .email {
  height: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-width: 300px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.update .email img {
  width: 15px;
  height: 15px;
  position: absolute;
  margin-left: -126px;
}

.update .email input {
  width: 100%;
  height: 35px;
  border-radius: 100px;
  border-color: black;
  border-width: 0.5px;
}

.update .email button {
  margin-left: -50px;
}

/********** footer ************/
.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: #f3f6fd;
  padding: 30px;
}

@media screen and (max-width: 500px) {
  .footer {
    font-size: 13px;
  }
}

.footer div ul {
  list-style: none;
  padding: 0px;
}

.footer div ul li {
  margin-top: 10px;
}

.footer div ul li img {
  height: 15px;
  width: 15px;
  border: 1px solid black;
  padding: 5px;
  border-radius: 100px;
  margin: 5px;
}

.footer div ul li:first-child {
  font-size: 18px;
  font-weight: 800;
  margin-left: -5px;
}

.footer div p {
  max-width: 200px;
}
/*# sourceMappingURL=style.css.map */